In [ ]:
month = 2
height = 1.7

type(month)

int

In [ ]:
 x = "Python programming"
type(x)

str

In [ ]:
 x = Python programming
type(x)

SyntaxError: invalid syntax (ipython-input-46570288.py, line 1)

In [ ]:

y = False
type(y)

bool

In [ ]:
mystr = "Python String"
mystr1 = "Second String"
print (mystr)
print (mystr1)
print(type(mystr))
print(type(mystr1))

Python String
Second String
<class 'str'>
<class 'str'>

In [ ]:
my_str = "PYTHON ROCKS"
print (my_str)
print(len(my_str))
print(my_str[0])
print(my_str[-11])

PYTHON ROCKS
12
P
Y

In [ ]:
my_str = "PYTHON ROCKS"
print(my_str[0])
# Will not work
my_str[0]="M"

P

TypeError: 'str' object does not support item assignment

In [ ]:
my_str = "PYTHON ROCKS"
print(my_str[1])
print("Y" in my_str)
print("A" in my_str)
print("ROCKS" in my_str)

Y
True
False
True

In [ ]:
my_str = "PYTHON ROCKS"
print(len(my_str))
print(my_str[0:8])
print(my_str[-12:-1])
print(my_str[-12:])
print(my_str[-12:-6])

12
PYTHON R
PYTHON ROCK
PYTHON ROCKS
PYTHON

In [ ]:
mytup1=(12,25.4,"PYTHON",212)
mytup2=(-21,224,87.6,"Hello",22)
print(mytup1)
print(len(mytup1))
print(type(mytup1))
print(mytup2)
print(len(mytup2))
print(type(mytup2))

(12, 25.4, 'PYTHON', 212)
4
<class 'tuple'>
(-21, 224, 87.6, 'Hello', 22)
5
<class 'tuple'>

In [ ]:

#To create empty or single element tuple
emptup = ()
print(type(emptup))
print(emptup)
onetup = (212,)
print(type(onetup))
print(onetup)

<class 'tuple'>
()
<class 'tuple'>
(212,)

In [ ]:
# Python3 code to demonstrate working of
# Concatenating tuples to nested tuples
# using + operator + ", " operator during initialization

# initialize tuples
test_tup1 = (3, 4),
test_tup2 = (5, 6),
# printing original tuples
print("The original tuple 1 : " + str(test_tup1))
print("The original tuple 2 : " + str(test_tup2))
# Concatenating tuples to nested tuples
# using + operator + ", " operator during initialization
res = test_tup1 + test_tup2
# printing result
print("Tuples after Concatenating : " + str(res))

The original tuple 1 : (3, 4)
The original tuple 2 : (5, 6)
Tuples after Concatenating : (3, 4, 5, 6)

In [ ]:
# Python3 code to demonstrate working of
# Repeating tuples N times
# using * operator

# initialize tuple
test_tup = (1, 3)

# printing original tuple
print("The original tuple : " + str(test_tup))# initialize N
N = 4

# Repeating tuples N times
# using * operator
res = ((test_tup,) * N)

# printing result
print("The duplicated tuple elements are : " + str(res))

The original tuple : (1, 3)
The duplicated tuple elements are : ((1, 3), (1, 3), (1, 3), (1, 3))

In [ ]:

fam = [1.73, 1.68, 1.71,1.89]
fam

In [ ]:
fam1 = ["liz",1.73,"mom",1.71,"dad",1.89]
fam1
type(fam1)

list

In [ ]:
#List of lists
fam2 = [["liz", 1.73],
				["emma", 1.68],
				["mom", 1.71],
				["dad", 1.89]]
fam2

#type(fam2)

[['liz', 1.73], ['emma', 1.68], ['mom', 1.71], ['dad', 1.89]]

In [ ]:
fam = ["liz", 1.73,"mom", 1.71,"dad", 1.89]
fam

['liz', 1.73, 'mom', 1.71, 'dad', 1.89]

In [ ]:
#Out[2]: ['liz',1.73,'mom', 1.71, 'dad',1.89]
#Index : 	0 	   1 	  2 	  3 	   4 	   5
#		     -6	    -5   -4    -3	    -2	  -1
fam[3]
fam[-2]
fam[4]

'dad'

In [ ]:
fam = ["liz", 1.73,"mom", 1.71,"dad", 1.89]
fam

In [ ]:
#Out[2]: ['liz',1.73,'mom', 1.71, 'dad',1.89]
#Index :    0    1 	   2 	   3 	   4 	   5

fam[:5]
#fam[:4]
fam[3:]

[1.71, 'dad', 1.89]

In [ ]:
fam = ["liz", 1.73,"mom", 1.71,"dad", 1.89]
fam
#fam[5] = 1.86
#fam
#fam[0:2] = ["lisa", 1.74]
#fam

['liz', 1.73, 'mom', 1.71, 'dad', 1.89]

In [ ]:
fam + ["me", 1.79]	   #adding elements

In [ ]:
del(fam[4])		 #removing elements
fam

In [ ]:
a = [1.73, 1.68, 1.71, 1.89]
a
max(a)
type(a)

list

In [ ]:
round(1.68, 1)

#round(1.68)
#help(round)   # opens up documentation

1.7

In [ ]:
fam = ["liz", 1.73,"mom", 1.71,"dad", 1.89]
fam
fam.index("mom")  	# list method
person = "liz"
#person
person.capitalize() 	# str method

'Liz'

In [ ]:
x = 175
bin(x)

x.bit_length()		# int method


#y = 1+3j
#y
#y.conjugate()		# complex method

8

In [ ]:
y=5
y <= 7 or y > 13
True

In [ ]:
y == 7 and y > 13
#not True
#not False

In [ ]:
z = 4
if z % 2 == 0 :
    print("z is even")